<nav class="navbar">
    <span class="nav-me"><a href="/">Me</a></span>
    <span class="nav-me nav-adota"><a href="/">Adota</a></span>
    <p class="home font-nav-botoes"><a href="/">Inicio</a></p>
    <p class="login font-nav-botoes"><a href="/login">Login</a></p>
    <p class="cadastrar-se font-nav-botoes"><a href="/cadastro-usuario">Cadastrar-se</a></p>
    <a href="/login">
        <button class="button-nav" onclick="">
            <h1 class="texto-button-nav position-button-adicionar">Adicionar Bichinho</h1>
        </button>
    </a>
</nav>