<nav class="navbar">
    
    <%if (user) {%>
        <a class="nav-me" href="/">Me</a>
        <a class="nav-me nav-adota" href="/">Adota</a>
        <a class="logado" href="">Olá, <%= user.nomeUsuario %> </a>
        <a href="/cadastro-animal">
            <button class="button-nav" onclick="">
                <h1 class="texto-button-nav position-button-adicionar">Adicionar Bichinho</h1>
            </button>
        </a>
    <%} else {%>
            <a class="nav-me" href="/">Me</a>
            <a class="nav-me nav-adota" href="/">Adota</a>
            <a class="home font-nav-botoes" href="/">Inicio</a>
            <a class="login font-nav-botoes" href="/login">Login</a>
            <a class="cadastrar-se font-nav-botoes" href="/cadastro-usuario">Cadastrar-se</a>
            
            <a href="/login">
                <button class="button-nav" onclick="">
                    <h1 class="texto-button-nav position-button-adicionar">Adicionar Bichinho</h1>
                </button>
            </a>
            <% }%>

</nav>