<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro-usuario-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <title>Cadastro MeAdota</title>
</head>

<body>
    <div>
        <div>
            <nav class="sombra">
                <span class="nav-me"><a href="/">Me</a></span>
                <span class="nav-me nav-adota"><a href="/">Adota</a></span>
                <p class="home font-nav-botoes"><a href="/">Inicio</a></p>
                <p class="login font-nav-botoes"><a href="/login">Login</a></p>
                <p class="cadastrar-se font-nav-botoes"><a href="/cadastro_usuario">Cadastrar-se</a></p>
                <a href="/login">
                    <button class="button-nav" onclick="">
                        <h1 class="texto-buttons">Adicionar Bichinho</h1>
                    </button>
                </a>
            </nav>
        </div>
        <div>
            <img class="img-cat" src="/images/cadastro-usuario/gatinho.png" alt="gatinho">
            <p class="title-text">Por que adotar adotar um animal?</p>
            <p class="frase-animal">Os animais entram em nossas vidas para nos ensinar a amar, a compartilhar, e a dar o
                devido valor a vida! Por isso, o tempo deles é curto. Devemos viver cada momento e agradecer.</p>
            <p class="frase-login">Já é cadastrado? <a href="">Faça login agora!</a></p>
        </div>
        <div>
            <p class="frase-cadastro">Faça seu <span>cadastro</span> agora</p>
            <input class="inputs-cadastro input-nome" type="text" placeholder="Nome">
            <input class="inputs-cadastro input-email" type="text" placeholder="Email">
            <input class="inputs-cadastro input-senha" type="password" placeholder="Senha">
            <input class="inputs-cadastro input-numero" type="text" placeholder="Número WhatsApp">
            <input class="inputs-cadastro input-cep" type="text" placeholder="CEP">
            <input class="inputs-cadastro input-estado" type="text" placeholder="Estado">
            <input class="inputs-cadastro input-cidade" type="text" placeholder="Cidade">
            <input class="inputs-cadastro input-bairro" type="text" placeholder="Bairro">
            <input class="inputs-cadastro input-rua" type="text" placeholder="Rua">
            
            <button class="button-finalizar texto-buttons">Finalizar</button>
        </div>

        <div>
            <footer class="footer font-footer">Copyright © 2020 MeAdota. Alguns direitos reservados.</footer>
        </div>
    </div>

</body>

</html>