<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home_style.css">
    <link rel="stylesheet" href="/css/home-logado_style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
    <title>MeAdota - Home</title>
</head>

<body>
    <div>
        <div>
            <nav class="sombra">
                <span class="nav-me"><a href="/home#">Me</a></span>
                <span class="nav-me nav-adota"><a href="/home#">Adota</a></span>
                <!-- <p class="home font-nav-botoes"><a href="/mnt/HDD/TADS/Modulo 3/Projeto Integrador I/MeAdota - Telas/Home/Home.html">Inicio</a></p>
                <p class="login font-nav-botoes"><a href="/mnt/HDD/TADS/Modulo 3/Projeto Integrador I/MeAdota - Telas/Login/Login.html">Login</a></p>
                <p class="cadastrar-se font-nav-botoes" onclick="">Cadastrar-se</p> -->
                <button class="button-nav-logado" onclick="">
                    <h1 class="texto-button-nav">Adicionar Bichinho</h1>
                </button>
                <a href="">
                    <img class="img-user" src="/images/home-logado/user.png" alt="user">
                </a>
            </nav>
        </div>
        <div>
            <header>
                <p class="bem-vindo">Seja bem-vindo ao</p>
                <p class="me font-me-adota">Me</p>
                <p class="adota font-me-adota">Adota.</p>
                <p class="msg-header">Nosso site está cheio de peludos ansiosos pra ter uma família.
                    Tente diferentes buscas até encontrar um peludo pra chamar de seu.</p>
                <input type="text" class="busca" placeholder="Pesquise por um novo amiguinho...">
                <img src="/images/home/busca.png" onclick="" class="button-buscar">
                <p class="dica">Dica: Você pode pesquisar por sexo, porte, cidade, e nome.</p>
            </header>
        </div>
        <div>
            <p class="msg-bichinhos-adocao fonte">Conheça nossos novos <span class="S1">bichinhos</span> para <span
                    class="S2">adoção.</span></p>
            <div class="container">
                <div class="row">
                    <div class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoA1" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoA2" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoA3" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
                <div class="row">
                    <div id="espacamentoB1" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoB2" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoB3" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoB4" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
                <div class="row">
                    <div id="espacamentoC1" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoC2" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoC3" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoC4" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <img class="" src="images/macho.png" alt="">
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="pagina1">1</button>
            <button class="pagina2 fonte-paginacao">2</button>
            <button class="pagina3 fonte-paginacao">3</button>
            <button class="pagina4 fonte-paginacao">4</button>
            <button class="proximo fonte-paginacao">Próximo</button>
            <button class="pagina10 fonte-paginacao">10</button>
        </div>
        <div>
            <p class="pqadotar fonte">Por que <span class="S1">adotar</span> um <span class="S2">bichinho?</span></p>
            <div class="sobre-cat">
                <img class="img-sobre" src="/images/home/cat.png" alt="gato">
                <p class="sobre-titulo fonte-sobre-titulo">Ao adotar, você ajuda a reduzir o número de cães e gatos abandonados.</p>
                <p class="sobre-subtitulo fonte-sobre-subtitulo">Os animais de rua já passaram por muito sofrimento e tudo o que precisam é de um lar para serem felizes de verdade!</p>
            </div>
            <div class="sobre-dog">
                <img class="img-sobre" src="/images/home/dog.png" alt="">
                <p class="sobre-titulo fonte-sobre-titulo">Ao adotar, você ajuda a reduzir o número de cães e gatos abandonados.</p>
                <p class="sobre-subtitulo fonte-sobre-subtitulo">Os animais de rua já passaram por muito sofrimento e tudo o que precisam é de um lar para serem felizes de verdade!</p>
            </div>
            <div class="sobre-cat-dog">
                <img class="img-sobre" src="/images/home/cata-dog.png" alt="">
                <p class="sobre-titulo fonte-sobre-titulo">Ao adotar, você ajuda a reduzir o número de cães e gatos abandonados.</p>
                <p class="sobre-subtitulo fonte-sobre-subtitulo">Os animais de rua já passaram por muito sofrimento e tudo o que precisam é de um lar para serem felizes de verdade!</p>
            </div>
        </div>
        <div>
            <footer class="footer font-footer">Copyright © 2020 MeAdota. Alguns direitos reservados.</footer>
        </div>
    </div>
    </div>
</body>

</html>