* {
    margin: 0px;
    padding: 0px;
}

/* #body{
    position: absolute;
    height: 100vh;
    width: 98.9vw;
} */

.nav-me a{
    position: absolute;
    width: 157px;
    height: 39px;
    left: 130px;
    top: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #F8D536;
    text-decoration: none;
}

.nav-me a:hover{
    color: #F8D536;
    text-decoration: none;
}

.nav-adota a{
    left: 180px;
    color: #51D1CD;
}
.nav-adota a:hover{
    color: #51D1CD;
    text-decoration: none;
}

.font-nav-botoes{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4A4A;
}

.home {
    position: absolute;
    width: 42px;
    height: 22px;
    top: 29px;
    left: 564px;
}

.home:hover{
    color: #51D1CD;
}

.home a{
    color: #4A4A4A;
}

.home a:hover{
    color: #51D1CD;
    text-decoration: none;
}

.login {
    position: absolute;
    width: 42px;
    height: 22px;
    top: 29px;
    left: 634px;
    /* font-weight: normal; */
}
.login:hover{
    color: #51D1CD;
}

.login a{
    color: #4A4A4A;
}

.login a:hover{
    color: #51D1CD;
    text-decoration: none;
}

.cadastrar-se {
    position: absolute;
    width: 99px;
    height: 22px;
    top: 29px;
    left: 707px;
    /* font-weight: normal; */
}

.cadastrar-se a {
    color: #4A4A4A;
}

.cadastrar-se a:hover {
    color: #51D1CD;
    text-decoration: none;
}

.button-nav {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 1060px;
    top: 15px;
    background: linear-gradient(90.12deg, #FFD029 -2.6%, #FFDB5E 114.72%);
    border: none;
    border-radius: 6px;
}
.button-nav:focus{
    outline: 0;
}

.texto-button-nav {
    position: absolute;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.position-button-adicionar{
    left: 13.2%;
    right: 16.4%;
    top: 26%;
    bottom: 26%;
}

.sombra{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 5px 3px 10px rgba(224, 215, 215, 0.5);
}

/* .font-footer{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    /* padding-top: 3.1%; 
} 

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #51D1CD;
} */