* {
    margin: 0px; 
    padding: 0px; 
}


.nav-me{
    position: absolute;
    width: 157px;
    height: 39px;
    left: 130px;
    top: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #F8D536;
    text-decoration: none;
}

.nav-me:hover{
    color: #F8D536;
    text-decoration: none;
}

.nav-adota{
    left: 180px;
    color: #51D1CD;
}
.nav-adota:hover{
    color: #51D1CD;
    text-decoration: none;
}

.font-nav-botoes{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4A4A;
}

.home {
    position: absolute;
    width: 42px;
    height: 22px;
    top: 29px;
    left: 564px;
}

.home:hover{
    color: #51D1CD;
    text-decoration: none;
}

.home-logado {
    position: absolute;
    width: 42px;
    height: 22px;
    top: 29px;
    left: 570px;
}

.home-logado:hover{
    color: #51D1CD;
    text-decoration: none;
}

.login {
    position: absolute;
    width: 42px;
    height: 22px;
    top: 29px;
    left: 634px;
    /* font-weight: normal; */
}
.login:hover{
    color: #51D1CD;
    text-decoration: none;
}


.cadastrar-se {
    position: absolute;
    width: 99px;
    height: 22px;
    top: 29px;
    left: 707px;
}


.cadastrar-se:hover {
    color: #51D1CD;
    text-decoration: none;
}

.logado{
    position: absolute;
    left: 840px;
    top: 32px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #51D1CD;
}

.logado:hover{
    color: #F8D536;
    text-decoration: none;
}

.button-nav {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 1060px;
    top: 15px;
    background: linear-gradient(90.12deg, #FFD029 -2.6%, #FFDB5E 114.72%);
    border: none;
    border-radius: 6px;
}
.button-nav:focus{
    outline: 0;
}

.texto-button-nav {
    position: absolute;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.position-button-adicionar{
    left: 13.2%;
    right: 16.4%;
    top: 26%;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 5px 3px 10px rgba(224, 215, 215, 0.5);
}
