<%- contentFor('main') %>
    <div class="box-central">
        <img class="foto-animal" src="/images/animal/bichinho.jpg" alt="Animal">
        <p class="txt-info">Dados sobre: Gatinho</p>
        <p class="especie font-dados">Espécie: <span>Gato</span></p>
        <p class="sexo font-dados">Sexo: <span>Macho</span></p>
        <p class="status font-dados">Status: <span>Disponível</span></p>
        <p class="tamanho font-dados">Tamanho:</p>
        <p class="tam-p font-tam">P</p>
        <p class="tam-m font-tam">M</p>
        <p class="tam-g font-tam">G</p>
        <p class="cidade font-dados">Cidade: <span>Amarante/PI</span> </p>
        <p class="observacoes font-dados">Observações:</p>
        <p class="txt-observacoes">There are many variations of passages of Lorem Ipsum
            availablet, but the majority have suffered alteration in some
            form, by injected humour</p>
        <p class="doador">Cadastrado por:</p>
        <p class="nome-doador">José Vitor</p>
        <div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <p class="informacoes"><span class="editar1">Para adotar ou saber mais sobre este
                                        peludo, entre em contato:</span>
                                    <br> <span class="editar2">Registrado por:</span> José Vitor <br>
                                    <img src="/images/animal/whats.png" alt="whatsapp">
                                    <span class="numero">(11) 95268-3800</span><span class="frase-numero">Ao falar com o
                                        protetor, diga que viu o anúncio dele aqui no MeAdota.</span> <br>
                                    <img src="/images/animal/email.png" alt="e-mail">
                                    <span class="txt-email">jose.vitor.soares@hotmail.com</span> <br><br>

                                    <span class="atencao">Atenção!</span><br>
                                    Não permitimos a venda de animais através do site. No entanto, alguns protetores
                                    solicitam uma taxa de adoção para ajudar nos
                                    custos com resgates e cuidados necessários. Se estiver inseguro quanto à seriedade
                                    da cobrança, escreva para contato@meadota.com.br.
                                    <br><br>
                                    <span class="aubrigado">Aubrigado! 🐶</span>
                                    <br> <br>
                                    <span class="final">E antes de adotar, lembre-se:</span><br>
                                    - Animais têm sentimentos. Eles precisam de carinho e atenção todos os dias. <br>
                                    - Todos os moradores da casa devem estar de acordo com a adoção. <br>
                                    - Ao viajar, precisará deixá-lo com alguém de confiança. <br>
                                    - Você terá despesas com ração, vacinas e veterinário. <br>
                                    - Cães e gatos vivem 15 anos ou mais e você será responsável por cuidar dele durante
                                    todo esse tempo. ;)
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="button-ok" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="font-button-quero-adotar button-adotar" data-toggle="modal"
            data-target="#exampleModal">
            Quero Adotar
        </button>
        <footer class="footer font-footer">Copyright © 2020 MeAdota. Alguns direitos reservados.</footer>
    </div>