<%- contentFor('main') %>
    <div>
        <div class="menu-side">
            <span class="font-menu-side selected">Adicionar novo Bichinho</span>
            <a class="font-menu-side animais-cadastrados" href="">Animais Cadastrados</a>
            <a class="font-menu-side editar-usuario" href="">Editar Usuário</a>
            <a class="font-menu-side logout" href="/logout">Sair</a>
        </div>
        <div>
            <form action="/cadastro-animal" method="POST" enctype="multipart/form-data">
                <span class="titulo-add">Adicionar Novo Bichinho</span>
                <input name="nome_animal" class="inputs-add nome-add" type="text" placeholder="Nome do bichinho">
                <textarea name="descricao" class="inputs-add descricao-add" type="text" placeholder="Descrição"></textarea>
                <input name="especie" class="inputs-add especie-add" type="text" placeholder="Espécie">
                <span class="font-radiobutton title-sexo">Sexo:</span>
                <span class="font-subtitle-buttons subtitle-masculino">Macho</span>
                <input name="sexo" class="radio-buttons masculino-button" type="radio" value="Macho">
                <span class="font-subtitle-buttons subtitle-feminino">Fêmea</span>
                <input name="sexo" class="radio-buttons feminino-button" type="radio" value="Fêmea">
                <span class="font-radiobutton title-tamanho">Tamanho:</span>
                <span class="font-subtitle-buttons subtitle-pequeno">Pequeno</span>
                <input name="tamanho" class="radio-buttons pequeno-button" type="radio" value="P">
                <span class="font-subtitle-buttons subtitle-medio">Médio</span>
                <input name="tamanho" class="radio-buttons medio-button" type="radio" value="M">
                <span class="font-subtitle-buttons subtitle-grande">Grande</span>
                <input name="tamanho" class="radio-buttons grande-button" type="radio" value="G">
                <input name="estado" class="inputs-add add-estado" placeholder="Estado" id="">
                <input name="cidade" class="inputs-add add-cidade" placeholder="Cidade" id="">
                <span class="font-radiobutton cuidados-add">Cuidados veterinários:</span>
                <input name="cuidados" class="checkbox-buttons castrado-check" type="checkbox" value="Cas">
                <span class="font-subtitle-buttons subtitle-castrado">Castrado</span>
                <input name="cuidados" class="checkbox-buttons vacinado-check" type="checkbox" value="Vac">
                <span class="font-subtitle-buttons subtitle-vacinado">Vacinado</span>
                <input name="cuidados" class="checkbox-buttons vermifugado-check" type="checkbox" value="Ver">
                <span class="font-subtitle-buttons subtitle-vermifugado">Vermifugado</span>
                <input name="cuidados" class="checkbox-buttons necessita-check" type="checkbox" value="NCE">
                <span class="font-subtitle-buttons subtitle-necessita">Necessita de cuidados especiais</span>
                <textarea name="observacoes" class="inputs-add observacoes-add" placeholder="Observações"></textarea>
                <span class="font-subtitle-buttons dica-add">Aqui você pode colocar caracteristicas a mais do seu
                    bichinho.</span>
                <span class="font-radiobutton span-addfoto">Adicione uma foto do seu bichinho:</span>
                <label class="texto-button-nav label-imagem" for="imagem-bichinho">Selecionar Imagem</label>
                <input name="imagem_animal" type="file" id="imagem-bichinho" accept="image/*">

                <button class="btn-add texto-button-nav" type="submit">Adicionar Bichinho</button>
            </form>
        </div>
        <div>
            <footer class="footer-add-bichinho font-footer">Copyright © 2020 MeAdota. Alguns direitos reservados.
            </footer>
        </div>
    </div>