<%- contentFor('main') %>
    <div>
        <div>
            <img class="img-cat" src="/images/cadastro-usuario/gatinho.png" alt="gatinho">
            <p class="title-text">Por que adotar adotar um animal?</p>
            <p class="frase-animal">Os animais entram em nossas vidas para nos ensinar a amar, a compartilhar, e a dar o
                devido valor a vida! Por isso, o tempo deles é curto. Devemos viver cada momento e agradecer.</p>
            <p class="frase-login">Já é cadastrado? <a href="/login">Faça login agora!</a></p>
        </div>
        <div>
            <p class="frase-cadastro">Faça seu <span>cadastro</span> agora</p>
            <form action="register" method="POST">
                <input name="input_nome" class="inputs-cadastro input-nome"  type="text" placeholder="Nome e Sobrenome">
                <input name="input_email" class="inputs-cadastro input-email"  type="text" placeholder="Email">
                <input name="input_senha" class="inputs-cadastro input-senha"  type="password" placeholder="Senha">
                <input name="input_numero" class="inputs-cadastro input-numero"  type="text" placeholder="Número WhatsApp">
                <input name="input_cep" class="inputs-cadastro input-cep"  type="text" placeholder="CEP">
                <input name="input_estado" class="inputs-cadastro input-estado"  type="text" placeholder="Estado">
                <input name="input_cidade" class="inputs-cadastro input-cidade"  type="text" placeholder="Cidade">
                <input name="input_bairro" class="inputs-cadastro input-bairro"  type="text" placeholder="Bairro">
                <input name="input_rua" class="inputs-cadastro input-rua"  type="text" placeholder="Rua">
                <button type="submit" class="texto-button-nav button-finalizar">Finalizar</button>
            </form>
        </div>
        <footer class="footer-cadastro-usuario font-footer">Copyright © 2020 MeAdota. Alguns direitos reservados.</footer>
    </div>