<%- contentFor('main') %>
    <div>
        <div>
            <header>
                <p class="bem-vindo">Seja bem-vindo ao</p>
                <p class="me font-me-adota">Me</p>
                <p class="adota font-me-adota">Adota.</p>
                <p class="msg-header">Aqui você irá encontrar diversos pets em busca de uma família.
                    Você pode tentar diversas buscas até escolher um pet para adotar.</p>
                <input type="text" class="busca" placeholder="Pesquise por um novo amiguinho...">
                <img src="/images/home/busca.png" onclick="" class="button-buscar">
                <p class="dica">Dica: Você pode pesquisar por sexo, porte, cidade, e nome.</p>
            </header>
        </div>
        <div>
            <p class="msg-bichinhos-adocao fonte">Conheça nossos novos <span class="S1">bichinhos</span> para <span
                    class="S2">adoção.</span></p>
            <div class="container">
                <div class="row">
                    <div class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoA1" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoA2" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoA3" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
                <div class="row">
                    <div id="espacamentoB1" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoB2" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoB3" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoB4" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
                <div class="row">
                    <div id="espacamentoC1" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoC2" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoC3" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                    <div id="espacamentoC4" class="column bordas-bichinhos">
                        <a href="/animal">
                            <div class="hover-bichinhos">
                                <img src="/images/home/bichinho.jpg" class="img-bichinhos" alt="">
                            </div>
                        </a>
                        <div class="retangulo"></div>
                        <a href="/animal">
                            <h3 class="nome-bichinho">Gatinho</h3>
                        </a>
                        <p class="cidade">Amarante/Piauí</p>
                        <img class="" src="images/macho.png" alt="">
                        <p class="sobre">There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="pagina1">1</button>
            <button class="pagina2 fonte-paginacao">2</button>
            <button class="pagina3 fonte-paginacao">3</button>
            <button class="pagina4 fonte-paginacao">4</button>
            <button class="proximo fonte-paginacao">Próximo</button>
            <button class="pagina10 fonte-paginacao">10</button>
        </div>
        <div>
            <p class="pqadotar fonte">Por que <span class="S1">adotar</span> um <span class="S2">bichinho?</span></p>
            <div class="sobre-cat">
                <img class="img-sobre" src="/images/home/cat.png" alt="gato">
                <p class="sobre-titulo fonte-sobre-titulo">Adotar é um gesto de muito amor e carinho.</p>
                <p class="sobre-subtitulo fonte-sobre-subtitulo">Além de proporcionar um novo lar para o pet, você ganhará um novo amigo que será sempre grato e fiel companheiro!</p>
            </div>
            <div class="sobre-dog">
                <img class="img-sobre" src="/images/home/dog.png" alt="">
                <p class="sobre-titulo fonte-sobre-titulo">Ao adotar, você ajuda a salvar a vida de um animal</p>
                <p class="sobre-subtitulo fonte-sobre-subtitulo">A adoção é capaz de salvar a vida de um bichinho que poderia estar nas ruas, abandonado, morrendo de fome e possivelmente sofrendo de maus tratos.</p>
            </div>
            <div class="sobre-cat-dog">
                <img class="img-sobre" src="/images/home/cata-dog.png" alt="">
                <p class="sobre-titulo fonte-sobre-titulo">Quem vive com pets tem menos estresse.</p>
                <p class="sobre-subtitulo fonte-sobre-subtitulo">Pesquisas feitas na Universidade da Virgínia, nos EUA, concluíram que pessoas que convivem com animais são menos estressadas e ansiosas do que as que moram sozinhas.</p>
            </div>
        </div>
        <div>
            <footer class="footer font-footer">Copyright © 2020 MeAdota. Alguns direitos reservados.</footer>
        </div>
        
    </div>